doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title!= title

    if metaKeywords
      meta(name="keywords", content= metaKeywords)
    if metaDesc
      meta(name="description", content= metaDesc)

    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(rel='stylesheet', href='css/site.css')
    
    //- script(src="js/vendor/modernizr.custom.js")

  body
    .container
      block content

    script(src="js/volume-meter.js")
    script(src="js/recorder.js")
    script(src="js/main.js")
